{% extends 'base.html' %}
{% load static %}
{% block title %} Sạp hàng của nhóm 3 {% endblock %}
{% block css %}
{% endblock %}
{% block body %}

<div class="container mt-2 mb-3">

  <div class="row">
    {% for product in products %}
    <div class="col-lg-4 my-4" style=" display:flex;justify-content: center;">
      <div class="card shadow align-items-center" style="width: 18rem;box-sizing: border-box;border-radius: 30px;padding: 5%;">
        <img src="/media/{{product.image}}" class="card-img-top" style="width: 70%; height: 70%; " alt="...">
        <div class="card-body" style="display: flex; flex-direction: column;">
          <h5 class="card-title" style="display: flex; justify-content: center;">{{product.name}}</h5>
          {% if request.user.is_authenticated %}
          <a href="/product_view/{{product.id}}/" class="btn btn-outline-secondary" style="border-radius: 10px; width: 100%; display: flex; justify-content: center;">View</a>
          {% else %}
          {% endif %}
          <h4 style="display: inline-block; float: right;">&nbsp;{{product.price}} VNĐ</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block js %}
<script>
{% if alert %}
  alert("Logout Sucessfull.")
  window.location.href = '/'
{% endif %}
</script>
{% endblock %}
