{% extends 'base.html' %}

{% block title %} Searched Result {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
{% if search %}

<div class="container mt-2 mb-3">

    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 my-4">
            <div class="card shadow align-items-center" style="width: 20rem; height: 23rem;">
                <img src="/media/{{product.image}}" class="card-img-top" alt="..." style="width: 170px; height: 260px;">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <hr>
                  {% if request.user.is_authenticated %}
                  <button data-product="{{product.id}}" data-action="add" class="btn add-btn update-cart" style="background-color: #8c5d4f; color: white;">Thêm thẻ thanh toán</button>
                  <a href="/product_view/{{product.id}}/" class="btn btn-outline-success">View</a>
                  {% else %}
                  <button class="btn" style="background-color: #8c5d4f; color: white;">Đăng nhập thể thêm vào giỏ hàng</button>
                  {% endif %}
                  <h4 style="display: inline-block; float: right;">{{product.price}} VNĐ</h4>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
  <h2 style="line-height: 50px; padding: 4rem;">Sản phẩm hiện hết hàng hoặc không có trong danh mục bạn tìm kiếm</h2>
{% endif %}
{% endblock %}
